<!-- <footer>
    &copy; 2023 Tu Nombre o Empresa. Todos los derechos reservados.
  </footer>
   -->

<!-- <footer style="text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; background-color: #c0c0c0; padding: 10px;">
    &copy; 2023 Tu Nombre o Empresa. Todos los derechos reservados.
  </footer> -->

<!-- <footer style="text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; margin-top: 20px; background-color: #c4c4c4; padding: 10px;">
    &copy; 2023 OPS Contact Center. Todos los derechos reservados.
  </footer> -->

<footer class="footer">Copyright © OPS Contact Center 2023.</footer>
