<div #html>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>Notificación de Cobro</title>
    </head>
    <body>
      <table>
        <tr>
          <td>
            <img
              src="http://hospital-maria.ops.com.hn/img/logo_unicomer.png"
              height="100px"
            />
          </td>
          <td style="margin-left: 5px">
            <img
              src="http://hospital-maria.ops.com.hn/img/logo_ops.png"
              height="100px"
            />
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            <b>TEGUCIGALPA M.D.C., {{ fechaActual }}</b>
            <br />
            <br />
            Estimado Señor (a): <b>{{ nombre }}</b>
            <br />
            <br />
            <p style="font-size: 1rem">
              Unicomer le recuerda que tiene pago pendiente de este mes por su
              promesa incumplida, se requiere el pago a más tardar el dia de
              hoy, puede realizarlos en cualquier tienda, transferencia bancaria
              o en puntos tengo, favor confirmar a los teléfonos del
              departamento de Cobros, WhatsApp
              <b
                >https://bit.ly/3X5AwCy 3277-7107/ https://bit.ly/3iqWyAV
                9446-4870/ https://bit.ly/3QF5O0Y 3184-0614, 2275-1351</b
              >
              evite pasar a otras instancias de cobro.
            </p>
            <br />
            <br />
            <br />
            <br />
            <br />
          </td>
        </tr>
      </table>
    </body>
  </html>
</div>
