<div class="container mt-4 pb-4" style="min-height:  calc(100vh - 128px);">
  <mat-card class="card">
    <mat-card-header style="height: 45px">
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content style="height: 130px">
      <div class="d-flex align-items-center row">
        <mat-form-field
          appearance="outline"
          class="my-2 mr-3 pt-4 px-4"
          style="width: 38%"
        >
          <mat-label>Tipo de Plantilla</mat-label>
          <mat-select [(ngModel)]="opcionPlantillaId">
            <!-- <mat-option [value]="0"></mat-option> -->
            <mat-option
              *ngFor="let opcionPlantilla of arregloPlantilla.slice(0, 1)"
              [value]="opcionPlantilla.ID"
              (onSelectionChange)="onOpcionChange()"
            >
              {{ opcionPlantilla.OPCION }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="pt-4" style="width: 38%">
          <mat-label>Plantilla</mat-label>
          <mat-select
            [(ngModel)]="opcionPlantilla"
            (ngModelChange)="OnOpcionChange2()"
          >
            <mat-option></mat-option>
            <mat-option
              *ngFor="let plantilla of Plantillas"
              [value]="plantilla.TEMPLATE"
            >
              {{ plantilla.OPCION }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!--  -->
        <button
          [hidden]="!hidden"
          class="btn btn-primary"
          style="margin-left: 15px; width: 20%; height: 55px"
          [disabled]="deshabilitarBoton"
          (click)="ListarDatosEnvio()"
        >
          Enviar
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- !hidden  -->
  <!-- <div class="mt-4 mb-4" style="min-height: 336px;"> -->
  <div class="mt-4 mb-4">
    <mat-card class="card" [hidden]="!hidden">
      <mat-card-header class="pb-2">
        <mat-card-title>Vista Previa:</mat-card-title>
      </mat-card-header>
      <mat-card-content style="margin: 20px">
        <ng-template appDynamicHost> </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="overlay" *ngIf="isLoading">
  <div class="circle-loader"></div>
</div>

<!-- <footer class="footer">
  &copy; 2023 Tu Nombre o Empresa. Todos los derechos reservados.
</footer> -->
